.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article img {
    width: 80%;
    height: 10em;
    object-fit: cover;
    margin: 2%;
}

.article h2 {
    margin: 2% 4% 0 4%;
    align-self: flex-start;
}

.article-date-source {
    color: gray;
    font-size: .8em;
    align-self: flex-start;
    margin-left: 4%;
}

.article-content {
    margin: 2% 4% 0 4%;
}

@media screen and (min-width: 500px) {
    .article img {
        height: 25em;
    }
}
